---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Button from '../components/Button.astro';
import type { navbar } from '../type';

const NAV: navbar[] = [
    {
        href: '/',
        content: 'INICIO',
        state: 'link--on'
    },
    {
        href: '/about',
        content: 'SOBRE NOSOTROS',
        state: 'link--off'
    },
    {
        href: '/rooms',
        content: 'HABITACIONES',
        state: 'link--off'
    }
];

const currentPath = '/';

---

<Layout title="Hotel Galindo - Un Hotel a tu Medida">
    <header>
        <NavBar content={NAV} currentPath={currentPath} />
    </header>
    <section role="img" class="picture">
        <img src="/plaza-de-armas.jpg" alt="Imagen de la plaza de armas">
    </section>
    <section class="hero">
        <article class="hero__article">
            <div class="article__bar"></div>
            <div class="article__content">
                <h1>HOTEL GALINDO</h1>
                <h2>“TU HOGAR LEJOS DEL HOGAR, EN ICA”</h2>
            </div>
        </article>
        <p class="hero__content">El Hotel Galindo te invita a vivir una experiencia de alojamiento única, inspirada en la rica tradición del Restaurante Galindo. Ofrecemos un espacio confortable y seguro a precios accesibles, ubicados en el corazón de Ica, cerca de los principales atractivos turísticos.</p>
        <Button href='' content='Reservar Ahora' />
    </section>

	<!-- <div class="green-bar">
        <img src="/logo.png" alt="Logo del hotel" class="logo" />
        <div class="subtitle-and-text">
            <h3>Descubre nuestra hospitalidad</h3>
            <p>Experimenta la comodidad y el encanto en cada momento de tu estancia.</p>
        </div>
    </div> -->


</Layout>

<style>
    
	header {
		margin: 50px 100px;
	}
	.picture {
		position: absolute;
		display: flex;
		justify-content: center;
		overflow: hidden;
		height: 700px;
		width: 700px;
		right: 0;
		top: 0;
	}
	.picture img {
		height: 100%;
	}

	.hero {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: auto;
		width: 590px;
		margin: 0px 60px;
		gap: 20px;
	}

	.hero__article {
		display: flex;
		gap: 10px;
	}

	.article__bar {
		height: 250px;
		width: 8px;
		background-color: var(--primary-color);
	}

	.article__content {
		font-family: var(--oswald);

	}

	.article__content h1 {
		font-size: 4.2em;
		color: var(--primary-color);
	}
	
	.article__content h2 {
		font-size: 3em;
	}

	.hero__content {
		font-family: var(--open-sans);
		font-size: 1.4rem;
		
	}

	.green-bar {
        background-color: #4CAF50; /* Color verde de la franja */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px; /* Ajusta según sea necesario */
        margin-top: 20px; /* Ajusta según sea necesario */
    }

    .logo {
        max-width: 100px; /* Ajusta según sea necesario */
        height: auto;
    }

    .subtitle-and-text {
        flex: 1; /* Esto permite que ocupe el espacio restante */
        margin-left: 20px; /* Ajusta según sea necesario */
    }

    .subtitle-and-text h3 {
        font-size: 1.5em;
        color: white;
    }

    .subtitle-and-text p {
        font-size: 1em;
        color: white;
    }
</style>